@CHARSET "UTF-8";

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
	padding-top: 0px;
}

/*
 * NavBar
 */
.navbar {
	border-radius: 0px;
	height: 51px;
	background-color: #222224;
	padding-right: 20px;
	width: 100%;
}

.form-signin {
	padding-top: 100px;
}

/*
.input-group{
	overflow:none;
}

/*
 * Sidebar
 */
.nav-side-menu {
	overflow: auto;
	font-family: verdana;
	font-size: 12px;
	font-weight: 200;
	background-color: #222224;
	position: fixed;
	top: 51px;
	width: 200px;
	height: 100%;
	color: #d7d7d7;
	padding-top: 2px;
}

.nav-side-menu .brand {
	background-color: #23282e;
	line-height: 50px;
	display: block;
	text-align: center;
	font-size: 14px;
}

.nav-side-menu .toggle-btn {
	display: none;
}

.nav-side-menu ul, .nav-side-menu li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	line-height: 35px;
	cursor: pointer;
}

.nav-side-menu ul :not(collapsed) .arrow:before, .nav-side-menu li :not(collapsed) .arrow:before
	{
	font-family: FontAwesome;
	content: "\f078";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	float: right;
}

.nav-side-menu ul .active, .nav-side-menu li .active {
	border-left: 3px solid #d19b3d;
	background-color: #4f5b69;
}

.nav-side-menu ul .sub-menu li.active, .nav-side-menu li .sub-menu li.active
	{
	color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a, .nav-side-menu li .sub-menu li.active a
	{
	color: #d19b3d;
}

.nav-side-menu ul .sub-menu li, .nav-side-menu li .sub-menu li {
	background-color: #181c20;
	border: none;
	line-height: 28px;
	border-bottom: 1px solid #23282e;
	margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover, .nav-side-menu li .sub-menu li:hover
	{
	background-color: #020203;
}

.nav-side-menu ul .sub-menu li:before, .nav-side-menu li .sub-menu li:before
	{
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}

.nav-side-menu li {
	padding-left: 0px;
	border-left: 3px solid #2e353d;
	border-bottom: 1px solid #23282e;
}

.nav-side-menu li a {
	text-decoration: none;
	color: #d5d5d5;
}

.nav-side-menu li a i {
	padding-left: 10px;
	width: 20px;
	padding-right: 20px;
}

.nav-side-menu li:hover {
	border-left: 3px solid #d19b3d;
	background-color: #4f5b69;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

/*
 * Books
 */
.books {
	padding: 80px;
	padding-left: 260px;
	'
}

.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout code {
	border-radius: 3px;
}

.bs-callout+.bs-callout {
	margin-top: -5px;
}

.bs-callout-default {
	border-left-color: #777;
}

.bs-callout-default h4 {
	color: #777;
}

.bs-callout-primary {
	border-left-color: #5a99d1;
}

.bs-callout-primary h4 {
	color: #428bca;
}

.bs-callout-success {
	border-left-color: #5cb85c;
}

.bs-callout-success h4 {
	color: #5cb85c;
}

.bs-callout-danger {
	border-left-color: #d9534f;
}

.bs-callout-danger h4 {
	color: #d9534f;
}

.bs-callout-warning {
	border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
	color: #f0ad4e;
}

.bs-callout-info {
	border-left-color: #5bc0de;
}

.bs-callout-gray {
	border-left-color: #757575;
}

.bs-callout-info h4 {
	color: #5bc0de;
}

.centered {
	margin: 0 auto;
}

/*
 * Adding book
 */
.adding-form {
	padding: 20px;
	border: thick;
	border: 2px solid #c7c7c7;
	border-radius: 10px;
	background-color: #e2e2e2;
}

.adding-box {
	padding-top: 100px;
	padding-bottom: 60px;
}

/*
 * Stars rating
 */
/*!
 * bootstrap-star-rating v4.0.3
 * http://plugins.krajee.com/star-rating
 *
 * Author: Kartik Visweswaran
 * Copyright: 2013 - 2017, Kartik Visweswaran, Krajee.com
 *
 * Licensed under the BSD 3-Clause
 * https://github.com/kartik-v/bootstrap-star-rating/blob/master/LICENSE.md
 */
.rating-loading {
	width: 25px;
	height: 25px;
	font-size: 0;
	color: #fff;
	background: transparent url('../img/loading.gif') top left no-repeat;
	border: none;
}

/*
 * Stars & Input
 */
.rating-container .rating-stars {
	position: relative;
	cursor: pointer;
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}

.rating-container .rating-input {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	font-size: 1px;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
}

.rating-disabled .rating-input, .rating-disabled .rating-stars {
	cursor: not-allowed;
}

.rating-container .star {
	display: inline-block;
	margin: 0 3px;
	text-align: center;
}

.rating-container .empty-stars {
	color: #aaa;
}

.rating-container .filled-stars {
	position: absolute;
	left: 0;
	top: 0;
	margin: auto;
	color: #fde16d;
	white-space: nowrap;
	overflow: hidden;
	-webkit-text-stroke: 1px #777;
	text-shadow: 1px 1px #999;
}

.rating-rtl {
	float: right;
}

.rating-animate .filled-stars {
	transition: width 0.25s ease;
	-o-transition: width 0.25s ease;
	-moz-transition: width 0.25s ease;
	-webkit-transition: width 0.25s ease;
}

.rating-rtl .filled-stars {
	left: auto;
	right: 0;
	-moz-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
	-webkit-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
	-o-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
	transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
}

.rating-rtl.is-star .filled-stars {
	right: 0.06em;
}

.rating-rtl.is-heart .empty-stars {
	margin-right: 0.07em;
}

/**
 * Sizes
 */
.rating-xl {
	font-size: 4.89em;
}

.rating-lg {
	font-size: 3.91em;
}

.rating-md {
	font-size: 3.13em;
}

.rating-sm {
	font-size: 2.5em;
}

.rating-xs {
	font-size: 2em;
}

.rating-xl {
	font-size: 4.89em;
}

/**
 * Clear
 */
.rating-container .clear-rating {
	color: #aaa;
	cursor: not-allowed;
	display: inline-block;
	vertical-align: middle;
	font-size: 60%;
}

.clear-rating-active {
	cursor: pointer !important;
}

.clear-rating-active:hover {
	color: #843534;
}

.rating-container .clear-rating {
	padding-right: 5px;
}

/**
 * Caption
 */

/* extend support to BS4 */
.rating-container .caption .label {
	display: inline-block;
	padding: .25em .4em;
	line-height: 1;
	text-align: center;
	vertical-align: baseline;
	border-radius: .25rem;
}

.rating-container .caption {
	color: #999;
	display: inline-block;
	vertical-align: middle;
	font-size: 60%;
	margin-top: -0.6em;
}

.rating-container .caption {
	margin-left: 5px;
	margin-right: 0;
}

.rating-rtl .caption {
	margin-right: 5px;
	margin-left: 0;
}

.rating-box {
	padding-top: 15px;
}

.more-button {
	padding-top: 15px;
}

/**
 * Print
 */
@media print {
	.rating-container .clear-rating {
		display: none;
	}
}
/*
 * Footer
 */
.footer {
	padding-top: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #9a9a9a;
	color: #f5f5f5;
}